/* contact us form */

#name{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
     outline: none;
     height: 30px;
    box-shadow: 0 1px 0 0 rgb(90, 99, 100);
    transition: height 1s;
    -webkit-transition: height 1s;
}
#name:focus{
    height: 50px;
    font-size: 16px;
    
}

#email{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
     outline: none;
     height: 30px;
    box-shadow: 0 1px 0 0 rgb(90, 99, 100);
    transition: height 1s;
    -webkit-transition: height 1s;
}
#email:focus{
    height: 50px;
    font-size: 16px;
    
}


#sub{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
     outline: none;
     height: 30px;
    box-shadow: 0 1px 0 0 rgb(90, 99, 100);
    transition: height 1s;
    -webkit-transition: height 1s;
}
#sub:focus{
    height: 50px;
    font-size: 16px;
    
}


#msg{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(12, 1, 1);
    border: none;
     outline: none;
     height: 30px;
    box-shadow: 0 1px 0 0 rgb(90, 99, 100);
    transition: height 1s;
    -webkit-transition: height 1s;
}
#msg:focus{
    height: 50px;
    font-size: 16px;
    
}
/* contact us form */

/* Map styling */
.map-container-section{
    overflow: hidden;
     padding-bottom: 56.25%;
     position: relative;
    height: 0;

    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 8x 32px 0 rgb(90, 99, 100);
    backdrop-filter: blur()0px;
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    opacity: 0.6; 
    transition: 1s ease;
      

}

.map-container-section iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.map-container-section:hover{
    opacity: 1;
    box-sizing: border-box !important;
    transition: all 0.3 ease !important;
    -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    z-index: 2;
    
}
/* Map styling */
/* utility */
.card{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgb(90, 99, 100);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
}
.hov:hover {
    background-color: rgb(90, 99, 100) !important;
    color: #fff !important;
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    z-index: 2 ;
}
/* utility */